html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  background-color: LightGray;
  -webkit-font-smoothing: antialiased;
}

div {
  border: 1px solid Chocolate;
}

/* Navigation Section */
.top-navigation {
  background-color: #fff;
}
.top-navigation > .content {
  width: 970px;
  height: 70px;
  margin: 0 auto;
  padding: 0 20px;
}

.logo {
  margin: 13px 0 0 0;
}

.top-navigation .links {
  float: right;
  margin: 24px 0 0 0;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  color: #838994;
  letter-spacing: 0.03em;
}


.top-navigation .links li {
  display: inline-block;
}

.top-navigation .links > .active {
  color: #4c5058;
  font-weight: 500;
}

.links li:hover {
  color: #4c5058;
  font-weight: 500;
  cursor: pointer;
}
