.container {
  margin: 1rem auto;
  text-align: center;
}

.row {
  margin: 2rem auto;
  text-align: center;
}

.thumbnail {
  padding: 0;
  text-align: center;
  overflow: hidden;
}

.thumbnail a>img {
  margin: 0;
  width: 100%;
}

button[data-show=false] {
  display: none;
}

button[data-show=true] {
  display: inherit;
}
