/*font-family*/

p {
	font-family: Raleway;
}

h1 {
	font-family: Indie Flower; /*Can use quotes as well if the font starts as a number.*/
}

/*font-size*/

body {
	font-size: 10px; /*Default 10px.*/
}

h1 {
	font-size: 5.0em; /*5 times larger than the body.  So in this case 50px.*/
}

p {
	font-size: 2.0em; /*2 times larger than the body. So 20px.*/
}

span {
	font-size: 2.0em; /*2 times larger than the <p> since it is nested inside.  So 40px.*/
	font-weight: 700;
}

/*font-weight*/

p {
	font-weight: 400;
}

/*line-height*/

p {
	line-height: 1.5; /*Multiplies based on font size.*/
}

/*text-aling*/

h1 {
	text-align: center;
}

/*text-decoration*/

p {
	text-decoration: underline;
}

h1 {
	text-decoration: line-through;
}