<!-- Or you can add partials if you want -->
<!-- Note if you are using css make sure it looks for it in the root directory -->
<!-- Ex: "/app.css"  not "app.css" -->

<% include partials/header %>

<h1>You fell in love with: <%= thingVar %></h1>

<% if(thingVar.toLowerCase() === "rusty") { %>
    <p>Good Choice! Rusty is the best!</p>
<% } else {%>
    <p>Bad Choice! You should love Rusty!</p>
<% } %>

<p>P.S. This is the love.ejs file</p>

<% include partials/footer %>