//My normalize rules
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

a, a:visited, a:hover, a:active {
  text-decoration: none;
  color: inherit;
}

ol, ul {
  list-style: none;
}

body {
  -webkit-font-smoothing: antialiased;
}
