html {
  height: 100%;
}
body {
  height: 100%;
  -webkit-font-smoothing: antialiased;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.container {
  background-color: cornsilk;
  height: 100%;

}

.quiz {
  color: darkblue;
  text-align: center;
  display: block;
  font-family: 'Josefin Sans', sans-serif;
  cursor: default;
}

.quiz-title {
  margin: 0;
  padding: 2rem 0;
  font-weight: 700;
  font-size: 3rem;
  text-decoration: underline;
}

.quiz-question, .quiz-final-message, .quiz-final-score {
  background-color: lightgray;
  width: 50rem;
  margin: 0 auto;
  padding: 1rem;
  font-size: 2rem;
}

.quiz-answer-box {
  width: 50rem;
  height: 100%;
  margin: 1rem auto;
  padding: 1rem 1rem;
  background-color: lightgray;
  position: relative;
}

.quiz-answer-box :first-child {
  margin-top: 0;
}

input[type=radio] {
  position: absolute;
  top: -1000px;
}

input[type=radio]:checked + div {
  background-color: darkgray;
}

.quiz-answer {
  display: block;
  background-color: gray;
  margin: 1rem auto;
  padding: 1rem;
  font-size: 1.2rem;
}

.quiz-answer:hover {
  cursor: pointer;
}

/*
.selected {
  background: darkgray;
}
*/

.quiz-submit, .quiz-new {
  display: inline-block;
  margin:  0 auto;
  height: 3rem;
  width: 8rem;
}

.quiz-new {
  margin-top: 1rem;
}

.quiz-question-counter {
  padding: .2rem;
  margin: auto 0;
  display: inline-block;
  height: 2rem;
  background-color: darkgray;
  position: absolute;
  bottom: 1.5rem;
  right: 1rem;
  line-height: 2rem;
  font-weight: 700;
  letter-spacing: .05rem;
}

.quiz-complete-view {
/*  start hidden */
  display: none;
}
