/*body {*/
/*    background: dimgray;*/
/*    color: lavender;*/
/*}*/



.container.main {
    margin-top: 7.0em;
}

#headerIcon {
    font-size: 2em;
}

#deleteForm {
    display: inline;
}

#updateForm {
    display: inline;
}
