body {
	max-width: 800px;
	width: 80%;
	margin: 0 auto;
	margin-top: 3%;
	border: 20px solid #bdc3c7;
	font-family: "source sans pro";
}

.post {
	margin: 2.5%;
}

.date {
	color:	#3498db;
	text-transform: uppercase;
	font-weight: 700;
	letter-spacing: .2rem;
}

.headline {
	font-size: 2em;
	font-weight: 700;
	text-transform: capitalize;
	color: #2c3e50;
}

.blockquote {
	border-left: 5px solid #bdc3c7;
	padding-left: 5px;
}

.breakline {
	border: 0;
  height: 1px;
  background: #333;
  background-image: linear-gradient(to right, #ccc, #333, #ccc);
}
